* {
    margin: 0;
    padding: 0;
    overflow-x: clip;
    line-height: 1.7;
}

.none {
    display: none !important;
}

.hide {
    z-index: -10 I !important;
}

main {
    font-family: "Area";
    max-width: 1100px;
    width: 80vw;
    margin: auto;
}

:root {
    --animate-delay: 0.1s;
}


header {
    z-index: 1;

    $height : 95vh;
    position: sticky;
    top: calc(-95vh + 80px);

    #headerSmall {

        img,
        svg {
            transition: .2s;
            cursor: pointer !important;
            position: fixed;
        }

        #hamburger {

            z-index: 4;
            height: 40px;
            left: 20px;
            top: 20px;

            g {
                .cls-1 {
                    stroke-width: 5px;
                }

                .cls-1,
                .cls-2 {
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                }

                .cls-2 {
                    stroke-width: 4px;
                }

                .cls-3 {
                    opacity: .44;
                    stroke-width: 0px;
                }
            }

        }

        #labelLogo {
            position: fixed;
            height: 50px;
            right: 0px;
            top: 15px;
        }
    }

    #headerOver {
        width: 100vw;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        justify-content: space-around;
        height: 95vh; //move to var

        #logo {
            width: calc(120px + 8vw);
            max-width: 250px;
            margin-left: calc(1em + 10vw);
            margin-top: 50px;
        }

        nav {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            svg {
                width: calc(330px + 4vw);
                max-width: min(90vw, 350px);
                margin-bottom: 1em;

                &:hover {
                    cursor: pointer;
                }

                g {

                    path {
                        transition: .3s;
                    }

                    &:hover path {
                        opacity: 1;
                    }
                }

                .cls-1 {
                    fill: #010101;
                    opacity: .32;
                }

                .cls-2 {
                    fill: #fff;
                    opacity: 1;
                }

            }
        }
    }

    video {
        height: $height;
        object-fit: cover;
        width: 100vw;
    }
}

main {
    // background: lightgray;
    position: relative;
    width: 85vw;
    max-width: 1100px;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;


    h1 {
        font-size: calc(20px + 8vw);
        font-family: area-extended, sans-serif;
        line-height: 1.3;
        font-weight: 900;
        padding: 14px 0;
    }

    h2 {
        font-size: calc(15px + 4vw);
        font-family: area-extended, sans-serif;
        padding: 12px 0;
    }

    blockquote {
        margin-left: 2em;
        font-style: italic;
    }

    ul {
        list-style: decimal;
        list-style-position: inside;

        ul {
            list-style: inside;
            margin-left: 1em;
        }
    }

    font-size: 18px;
    line-height: 1.7;
    font-family: area-inktrap-extended,
    sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    word-spacing: 2px;

    p,
    li {
        padding: 20px 0;
    }

    b {
        font-family: area-inktrap-extended, sans-serif;
        font-weight: 900;
    }

    video {
        width: 100%;
    }

    g {
        .cls-1 {
            fill: none;
        }

        .cls-2 {
            fill: lightgreen;
            opacity: 1;
        }
    }
}

#resources {

    #tags {
        display: flex;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
        position: sticky;
        top: 75px;

        img {
            height: 25px;
            transition: 0.2s;

            &:hover {
                cursor: pointer;
                filter: brightness(0.87);
            }

        }

        .checked {
            filter: brightness(0.65) !important;
        }

        p,
        img {
            margin-right: 10px;
        }
    }

    #grid {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .cell {
            margin: 10px;
            padding: 10px;
            width: calc(50% - 40px);
            border: solid black 1px;

            p {
                padding: 0 0 15px 0;
                line-height: 1.1
            }


            .title {
                font-size: 2em;
            }

            .mediaAuth {
                font-weight: 100;
            }

            @media screen and (max-width: 812px) {
                width: unset;
                margin: 20px 0;
            }

            @media screen and (max-width: 440px) {

                .title {
                    font-size: 6vw;
                    font-weight: 900;
                }
            }

            transition: .2s;

            &:hover {
                // color: rgb(0, 255, 0);
                // border-color: rgb(0, 255, 0);
                cursor: pointer;
                //color: white;
                //background: black;
                box-shadow: 3px 5px 0px 0px #000;

                .urlHost {
                    text-decoration: underline;

                }
            }


        }



    }

}

#ig_wrap {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

footer {
    text-align: center;
    padding: 2.5em;
}

#om {
    display: flex;
    align-items: flex-start;

    margin: 1.5em 0;

    @media screen and (max-width: 812px) {
        flex-direction: column;
    }

    #tshirt {

        width: 35vw;
        margin-right: 50px;
        position: sticky;
        top: 85px;

        @media screen and (max-width: 812px) {
            width: 100%;
            position: unset;
            margin: 0;
        }
    }

    #text {
        font-size: 1.5em;
        max-width: 46vw;

        @media screen and (max-width: 812px) {
            max-width: unset;
        }

        p:first-child {
            font-weight: 100;
        }
    }
}

//iphone classes

.opacity-5 {

    #hamburger,
    #labelLogo {
        opacity: 0 !important;
    }
}

.opacity-4 {

    #hamburger,
    #labelLogo,
    #about_us_nav g {
        opacity: 0 !important;
    }
}

.opacity-3 {

    #hamburger,
    #labelLogo,
    #about_us_nav g,
    #resources_nav g {
        opacity: 0 !important;
    }
}

.opacity-2 {

    #hamburger,
    #labelLogo,
    #about_us_nav g,
    #resources_nav g,
    #greenwash_guide_nav g {
        opacity: 0 !important;
    }
}

.opacity-1 {

    #hamburger,
    #labelLogo,
    #about_us_nav g,
    #resources_nav g,
    #greenwash_guide_nav g,
    #our_mission_nav g {
        opacity: 0 !important;
    }
}

.iphone {
    header {
        z-index: 0;
        position: fixed;
        top: 0;
    }

    main {
        width: 90vw;
        padding: 0 5vw;
        position: default;
        background: white;
        top: 95vh;
    }

    #ham {
        position: fixed;
        width: 50px;
        top: 20px;
        right: 20px;
    }
}